.headline
    %h3 Current Opportunities
-#
    %p 
        Over the next few days we'll be adding six job opportunities on here. If you'd like us to let you know when we put them live, or just fancy a chat about the idea of working with us, please get in touch at 
        =succeed(".") do
            =link_to "hello@meducation.net", "mailto:hello@meducation.net"
    %p= link_to "Email Us »", "mailto:hello@meducation.net", class: 'btn-u'

%p These are our official current job opportunities. 
%ul
    /%li= link_to "Designer", designer_job_path
    /%li= link_to "Frontend Developer", frontend_developer_job_path
    /%li= link_to "Backend Developer", backend_developer_job_path
    /%li= link_to "Full Stack Developer", full_stack_developer_job_path
    %li= link_to "Community Manager", community_manager_job_path
    %li= link_to "Content Manager", content_manager_job_path
    /%li= link_to "Marketer", marketer_job_path
%hr
%p If your specific skills aren't listed above but think you'd make a great addition to the Meducation team, email us anyway!
%p= link_to "Email Us »", "mailto:hello@meducation.net", class: 'btn-u'

.margin-top-20= render "layouts/blog_posts"
