.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li.active Job Opportunities

.container
    .row-fluid
        .span9
            .row-fluid
                .headline
                    %h3 We're Hiring
                %p We're at a hugely exciting point in our journey! After two years of building Meducation with just Alastair and Jeremy, we're finally at a point where we can hire people!  We are looking for seven talented individuals who want to revolutionse medical education with us. 

                .headline
                    %h3 Current Opportunities 

                %p These are our official current job opportunities. 
                %ul
                    %li= link_to "Designer", designer_job_path
                    %li= link_to "Frontend Developer", frontend_developer_job_path
                    %li= link_to "Backend Developer", backend_developer_job_path
                    %li= link_to "Full Stack Developer", full_stack_developer_job_path
                    %li= link_to "Community Manager", community_manager_job_path
                    %li= link_to "Content Manager", content_manager_job_path
                    %li= link_to "Marketer", marketer_job_path
                %p 
                    If your specific skills aren't listed above but think you'd make a great addition to the Meducation team,
                    = link_to "email us", "mailto:hello@meducation.net"
                    anyway!

                .headline
                    %h3 Our Principles
                %p The whole ethos of our vision is around people, and this is represented in the way we want to develop our company. We want to build a team who trust and respect each other, who enjoy each others' company and who love working together. We believe that a happy team is a productive team and we know that people are individuals and work in their own ways. 
                %p Taking a lead from successful companies like Github, Steam, 37signals and Medium, here are some of our principles with regards to work.
                %p= link_to "Read about our principles »", job_principles_path, class: 'btn-u btn-u-large'
