%section
    .container
        %h2 Jobs
        %h3 We're Hiring!
        %p We're at a hugely exciting point in our journey. After two years of building Meducation with just the two founder, we're finally at a point where we can hire people!  We are looking for seven talented individuals who want to revolutionse medical education with us. 
        %p The whole ethos of our vision is around people, and this is represented in the way we want to develop our company. We want to build a team who trust and respect each other, who enjoy each others' company and who love working together. We believe that a happy team is a productive team and we know that people are individuals and work in their own ways. 
        %p Here are some of our principles.
        %ul
            %li 
                %em Work when you want.
                We don't have office hours because we know that different people work best at different times. Rise with the sun, or rise with the sunset? It makes no difference to us!
            %li 
                %em Work where you want.
                Office, home, coffee-shop? It's up to you. We hope you'll want to hang out with us in the office reguarly, but we dread the idea of having a fixed place to work from each day, so we would never want to inflict that on you!
            %li 
                %em Be in control of your holiday. 
                Want a couple of weeks off? Great. Want to work for 14days straight because you're absolutely engrossed in what you're making. Awesome (Although you'll probably need a week off afterwards to recover)! We don't have holiday allowences - simply take a break when you want one. 
            %li 
                %em Be paid well, and without performance rewards.
                Money's important and we want you to feel like you are paid what you deserve. We think performance-related pay is a patronising way of trying to force people to work harder and just increases stress. If you love what you're working on, and love the team you're working in, you're going to do your best each day, and that's all we'll ever ask.
            %li
                %em Be challenged and learn.
                In our experience smart people like interesting challenges. The scale and complexity of what we want to build is exciting in itself, and we have loads of hard problems to solve, which others have failed to do, both on the tech and social sides.
            %li 
                %em Contribute to open source.
                We're really passionate about open source and intend to release 90% of our code under open source licences. If you're a developer, you'll be working with us to build libraries that power the internet, not just Meducation!
            %li
                %em Get support on your own projects and ideas.
                Life is boring if it's spent on just one thing. If you have ideas and concepts you want to explore, we want to support you in that and ue our knowledge and expertise to help you build your future!
        %h3 Current Job Opportunities
        %ul
            %li= link_to "Designer", designer_job_path
            %li= link_to "Frontend Developer", frontend_developer_job_path
            %li= link_to "Backend Developer", backend_developer_job_path
            %li= link_to "Full Stack Developer", full_stack_developer_job_path
            %li= link_to "Community Manager", community_manager_job_path
            %li= link_to "Content Manager", content_manager_job_path
            %li= link_to "Marketer", marketer_job_path
